<div class="container markdown mw-100">
  <div class="markdown-body vh-100">
    <% if @trip.response.blank? || @trip.updated? == false %>
      <div class="wrap"
           data-controller="reload"
           data-reload-trip-id-value="<%= @trip.id %>">
        <div class="loading">
          <div class="bounceball"></div>
          <div class="text">CREATING YOUR ITINERARY</div>
        </div>
      </div>
    <% else %>
    <section>
      <%= markdown(@trip.response) %>
      <%= link_to 'Edit Trip', edit_trip_path, class: "button" %>
      <%= link_to 'Delete Trip', delete_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "button" %>
    </section>
    <% end %>
  </div>
</div>

<%= turbo_stream_from @trip %>




<%# <%= markdown(@trip.response || "No itinierary available") %>
