  <!-- Footer -->
  <footer class="text-center text-white footer mt-auto" style="background-color: #ff451c">
    <!-- Grid container -->
    <div class="container" style="min-height: 30vh">
      <!-- Section: Links -->
      <section class="mt-5">
        <!-- Grid row-->
        <div class="row text-center d-flex justify-content-center pt-5">
          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <%= link_to "Home", root_path, class: "text-white text-decoration-none"%>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <%= link_to "Get Started", root_path, class: "text-white text-decoration-none"%>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <%= link_to "Trips", root_path, class: "text-white text-decoration-none"%>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <%= link_to "About us", root_path, class: "text-white text-decoration-none"%>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <%= link_to "Contact", root_path, class: "text-white text-decoration-none"%>
            </h6>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row-->
      </section>
      <!-- Section: Links -->

      <hr class="my-5" />

      <!-- Section: Text -->
<!--      <section class="mb-5">-->
<!--        <div class="row d-flex justify-content-center">-->
<!--          <div class="col-lg-8">-->
<!--            <p>-->
<!--              Navigate the World with Ease: Your Personal Travel Companion AI-->
<!--            </p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </section>-->
      <!-- Section: Text -->

      <!-- Section: Social -->
      <section class="text-center mb-5">
        <a href="" class="text-white me-4 text-decoration-none">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="text-white me-4 text-decoration-none">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="text-white me-4 text-decoration-none">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="text-white me-4 text-decoration-none">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="text-white me-4 text-decoration-none">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="text-white me-4 text-decoration-none">
          <i class="fab fa-github"></i>
        </a>
      </section>
      <!-- Section: Social -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >
      © 2023 Copyright:
      <a class="text-white text-decoration-none" href="https://github.com/maxkaiser11"
         >Roamers Route</a
        >
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
