<!DOCTYPE html>
<html>
  <head>
    <title>RoamersRoute | AI Powered Trip Planner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- OG -->
    <meta property="og:title" content="RoamersRoute | AI powered trip planner" >
    <meta property="og:description" content="Use the power of AI to create personalized itineraries for your future trips" >
    <meta property="og:url" content="https://www.roamersroute.com" >
    <meta property="og:image" content="<%= image_url "logo-image-kitt.png" %>" >
    <meta property="og:type" content="website" >
    <!-- Twitter -->
    <meta name="twitter:card" content="<%= image_url "logo-image-kitt.png" %>" >
    <meta name="twitter:title" content="RoamersRoute | AI powered trip planner" >
    <meta name="twitter:description" content="Use the power of AI to create personalized itineraries for your future trips" >
    <meta name="twitter:url" content="https://www.roamersroute.com" >
    <meta name="twitter:image:src" content="<%= image_url "logo-image-kitt.png" %>" >
    <meta name="twitter:type" content="website" >
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link rel="icon" href="/favicon.ico">
  </head>

  <body class="d-flex flex-column">
    <main class="flex-shrink-0">
        <%= render "shared/navbar" %>
      <%= render "shared/flashes" %>
      <%= yield %>
    </main>
    <%= render "shared/footer" %>
  </body>
</html>
